<link rel="stylesheet" href="../../../css/main.css">

<!--Homepage content-->
<div ng-controller="getEventController as ctrl"> <!--data-ng-controller="homepageController as homeCtrl"-->
<!--<div data-ng-controller="eventsController as eventCtrl">-->
<div class="slideshow-container">

    <div class="mySlides fade">
        <div class="numbertext">1 / 5</div>
        <img src="../../../images/batman%20-%20Copy.jpg" style="width:100%">
        <div class="text">The LEGO Batman Movie</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 5</div>
        <img src="../../../images/beast%20-%20Copy.jpg" style="width:100%">
        <div class="text">Beauty and the Beast</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 5</div>
        <img src="../../../images/logan%20-%20Copy.jpg" style="width:100%">
        <div class="text">Logan</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">4 / 5</div>
        <img src="../../../images/moonlight%20-%20Copy.jpg" style="width:100%">
        <div class="text">Moonlight</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">5 / 5</div>
        <img src="../../../images/sing%20-%20Copy.jpg" style="width:100%">
        <div class="text">Sing</div>
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>

<div style="text-align:center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
</div>

<script>
    var slideIndex = 0;
    showSlides();

    function plusSlides(n) {
        moveSlides(slideIndex += n);
    }

    function moveSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
    }

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex> slides.length) {slideIndex = 1}
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
        setTimeout(showSlides, 5000); // Change image every 2 seconds
    }
</script>

<br>



<!--
<div>
    &lt;!&ndash;<h1>LIST OF FILMS</h1>
    <br/><br/>&ndash;&gt;

    <div ng-repeat="event in ctrl.events">
        {{event.title}}
        {{event.description}}
    </div>

</div>-->

<div  class="whats-on">
    <div class="posters">
        <div class="responsive" ng-repeat="event in ctrl.events">
            <div class="img">
                <!--<a target="_blank" href="../../../images/beast_small.jpg.jpg">
                    <img src="../../../images/beast_small.jpg" alt="test" width="220" height="320"> &lt;!&ndash;alt={{event.title}}&ndash;&gt;
                </a>-->
                <div class="title">{{event.title}}</div>
                <div class="desc">{{event.description}}</div>
            </div>
        </div>
    </div>
</div>

<!--<div class="whats-on">
    <div class="posters">
        <div class="responsive">
            <div class="img">
                <a target="_blank" href="../../../images/wellness_small.jpg">
                    <img src="../../../images/wellness_small.jpg" alt="A Cure For Wellness" width="220" height="320">
                </a>
                <div class="title">A Cure For Wellness</div>
                &lt;!&ndash;<div class="desc">A Cure For Wellness description</div>&ndash;&gt;
                <div class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nullam mauris lacus, venenatis in orci at, aliquam pellentesque nisi. Proin ut pulvinar ante, eget tempus mi.
                </div>
                <button class="time" onclick="setElement(1,1,'m',12)">12:00</button>
                <button class="time" onclick="setElement(2,2,'tu',14)">14:00</button>
            </div>
        </div>

        <div class="responsive">
            <div class="img">
                <a target="_blank" href="../../../images/beast_small.jpg">
                    <img src="../../../images/beast_small.jpg" alt="Beauty and the Beast" width="220" height="320">
                </a>
                <div class="title">Beauty and the Beast</div>
                &lt;!&ndash;<div class="desc">Beauty and the Beast description</div>&ndash;&gt;
                <div class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nullam mauris lacus, venenatis in orci at, aliquam pellentesque nisi. Proin ut pulvinar ante, eget tempus mi.
                </div>
                <button class="time" onclick="setElement(3,1,'w',16)">16:00</button>
                <button class="time" onclick="setElement(1,2,'th',18)">18:00</button>
            </div>
        </div>

        <div class="responsive">
            <div class="img">
                <a target="_blank" href="../../../images/fences_small.jpg">
                    <img src="../../../images/fences_small.jpg" alt="Fences" width="220" height="320">
                </a>
                <div class="title">Fences</div>
                &lt;!&ndash;<div class="desc">Fences description</div>&ndash;&gt;
                <div class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nullam mauris lacus, venenatis in orci at, aliquam pellentesque nisi. Proin ut pulvinar ante, eget tempus mi.
                </div>
                <button class="time" onclick="setElement(2,1,'f',20)">20:00</button>
                <button class="time" onclick="setElement(3,2,'sa',12)">12:00</button>
            </div>
        </div>

        <div class="responsive">
            <div class="img">
                <a target="_blank" href="../../../images/figures_small.jpg">
                    <img src="../../../images/figures_small.jpg" alt="Hidden Figures" width="220" height="320">
                </a>
                <div class="title">Hidden Figures</div>
                &lt;!&ndash;<div class="desc">Hidden Figures description</div>&ndash;&gt;
                <div class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nullam mauris lacus, venenatis in orci at, aliquam pellentesque nisi. Proin ut pulvinar ante, eget tempus mi.
                </div>
                <button class="time" onclick="setElement(1,1,'su',14)">14:00</button>
                <button class="time" onclick="setElement(2,2,'m',16)">16:00</button>
            </div>
        </div>

        <div class="responsive">
            <div class="img">
                <a target="_blank" href="../../../images/logan_small.jpg">
                    <IMG src="../../../images/logan_small.jpg" alt="Logan" width="220" height="320">
                </a>
                <div class="title">Logan</div>
                &lt;!&ndash;<div class="desc">Logan description</div>&ndash;&gt;
                <div class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nullam mauris lacus, venenatis in orci at, aliquam pellentesque nisi. Proin ut pulvinar ante, eget tempus mi.
                </div>
                <button class="time" onclick="setElement(3,1,'tu',18)">18:00</button>
                <button class="time" onclick="setElement(1,2,'w',20)">20:00</button>
            </div>
        </div>

        <div class="responsive">
            <div class="img">
                <a target="_blank" href="../../../images/moonlight_small.jpg">
                    <img src="../../../images/moonlight_small.jpg" alt="Moonlight" width="220" height="320">
                </a>
                <div class="title">Moonlight</div>
                &lt;!&ndash;<div class="desc">Moonlight description</div>&ndash;&gt;
                <div class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nullam mauris lacus, venenatis in orci at, aliquam pellentesque nisi. Proin ut pulvinar ante, eget tempus mi.
                </div>
                <button class="time" onclick="setElement(2,1,'th',12)">12:00</button>
                <button class="time" onclick="setElement(3,2,'f',14)">14:00</button>
            </div>
        </div>

        <div class="responsive">
            <div class="img">
                <a target="_blank" href="../../../images/sing_small.jpg">
                    <img src="../../../images/sing_small.jpg" alt="Sing" width="220" height="320">
                </a>
                <div class="title">Sing</div>
                &lt;!&ndash;<div class="desc">Sing description</div>&ndash;&gt;
                <div class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nullam mauris lacus, venenatis in orci at, aliquam pellentesque nisi. Proin ut pulvinar ante, eget tempus mi.
                </div>
                <button class="time" onclick="setElement(1,1,'sa',16)">16:00</button>
                <button class="time" onclick="setElement(2,2,'su',18)">18:00</button>
            </div>
        </div>

        <div class="responsive">
            <div class="img">
                <a target="_blank" href="../../../images/split_small.jpg">
                    <img src="../../../images/split_small.jpg" alt="Split" width="220" height="320">
                </a>
                <div class="title">Split</div>
                &lt;!&ndash;<div class="desc">Split description</div>&ndash;&gt;
                <div class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nullam mauris lacus, venenatis in orci at, aliquam pellentesque nisi. Proin ut pulvinar ante, eget tempus mi.
                </div>
                <button class="time" onclick="setElement(3,1,'m',20)">20:00</button>
                <button class="time" onclick="setElement(1,2,'tu',12)">12:00</button>
            </div>
        </div>

        <div class="responsive">
            <div class="img">
                <a target="_blank" href="../../../images/t2_small.jpg">
                    <img src="../../../images/t2_small.jpg" alt="T2: Trainspotting" width="220" height="320">
                </a>
                <div class="title">T2: Trainspotting</div>
                &lt;!&ndash;<div class="desc">T2: Trainspotting description</div>&ndash;&gt;
                <div class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nullam mauris lacus, venenatis in orci at, aliquam pellentesque nisi. Proin ut pulvinar ante, eget tempus mi.
                </div>
                <button class="time" onclick="setElement(2,1,'w',14)">14:00</button>
                <button class="time" onclick="setElement(3,2,'th',16)">16:00</button>
            </div>
        </div>

        <div class="responsive">
            <div class="img">
                <a target="_blank" href="../../../images/batman_small.jpg">
                    <img src="../../../images/batman_small.jpg" alt="The LEGO Batman Movie" width="220" height="320">
                </a>
                <div class="title">The LEGO Batman Movie</div>
                &lt;!&ndash;<div class="desc">The LEGO Batman Movie description</div>&ndash;&gt;
                <div class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nullam mauris lacus, venenatis in orci at, aliquam pellentesque nisi. Proin ut pulvinar ante, eget tempus mi.
                </div>        <div>
                <button class="time" onclick="setElement(1,1,'f',18)">18:00</button>
                <button class="time" onclick="setElement(2,2,'sa',20)">20:00</button>
            </div>

            </div>

        </div>
    </div>
</div>-->
</div>