
<div ng-controller="getCinemaController as ctrl">

<div class="container-fluid bg-4" align="center" >
  <form text-center>

    <select ng-model="selectedCinema" ng-options="cinema.location for cinema in ctrl.cinemas"></select>

    <label>Search: <input type="text" ng-model="searchText" ></label>
  <div ng-show="selectedCinema">
    <h1>You selected : {{selectedCinema.location}}</h1>

    <div ng-repeat="n in [0, 1, 2] | filter: searchText" >

      <table width="90%">
        <tr>
          <th></th>
          <th>
            <h2>{{selectedCinema.showings[n].event.title}}</h2>
              <img ng-src="images/{{selectedCinema.showings[n].event.certification}}.png" ng-href="https://www.myvue.com/">


          </th>
        </tr>
        <tr>
          <td width="20%"><img ng-src="images/{{selectedCinema.showings[n].event.eventID}}.jpg" width="260" height="388"></td>
          <td width="80%">
            <p><strong>Synopsis</strong></p>
            <p>{{selectedCinema.showings[n].event.description}}</p>
            <p><strong>Date</strong></p>
            <p>{{selectedCinema.showings[n].event.releaseDate.dayOfMonth}}</p>
            <p><strong>Release Date</strong></p>
            <p>{{selectedCinema.showings[n].event.releaseDate.dayOfMonth}}/{{selectedCinema.showings[n].event.releaseDate.month}}/{{selectedCinema.showings[n].event.releaseDate.year}}</p>
            <p><strong>Showings</strong></p>
            <p>{{selectedCinema.showings[n].dateTime.hourOfDay}}:{{selectedCinema.showings[n].dateTime.minute}}</p>
            <a ng-href="https://www.myvue.com/"><strong>View Trailer</strong></a>
          </td>
        </tr>
      </table>
    </div>
  </div>

  </form>
</div>

</div>

<script type='text/javascript'>
  function view(){
      var test = document.getElementById("films");
      test.style.display='none';
  }
</script>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "100%";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>
<script src="whats-on.js"></script>
<script>
    document.getElementById("imageid").src = getCertificationImage('18');
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

