body {
    font-size: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ll {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: royalblue;
}

/*link underline*/
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
/**/

.carousel {
    width: 100%;
    float:left;
}

.whats-on {
    width: 100%;
    padding: 1%;
    margin: 10px auto;
    /*float:left;*/
    overflow: hidden;
}

.posters {
    width: 75%;
    padding: 1%;
    margin: auto;
    /*float:left;*/
    overflow: hidden;
}

.fill {
    width: 13%;
    float: left;
    overflow: hidden;
}

div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.title {
    font-family: sans-serif;
    padding: 2%;
    text-align: center;
    margin: 1%;
    height: 2%;
    font-size: 1vw;
}

div.desc {
    font-family: sans-serif;
    padding: 2%;
    text-align: center;
    margin: 1%;
    height: 5%;
    font-size: 0.8vw;
}

.time {
    padding: 1%;
    margin: 1%;
}

* {
    box-sizing: border-box;
}

.responsive {
    /*padding: 6px 6px;*/
    padding: 1%;
    float: left;
    width: 24.99999%;
    /*width: 12.49999%*/
    /*height:1000px;*/
}

.ng-binding {
    padding: 1%;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 1500px){
    .responsive {
        width: 33%;
        margin: 6px 0;
    }
}

/*@media only screen and (max-width: 1000px){
    .responsive {
        width: 40%;
        margin: 6px 0;
    }
}*/


@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/*.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}*/

.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    font-family: sans-serif;
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    font-family: sans-serif;
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    /*height: 13px;
    width: 13px;*/
    height: 0.8vw;
    width: 0.8vw;
    margin: 0.2vw;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.footer {
    font-family: sans-serif;
    background-color: royalblue;
    /*width: 100%;*/
    padding:2%;
    bottom:0;
    overflow: hidden;
    color: white;
}

.footer-cols {
    /*border: solid;*/
    width: 60%;
    overflow: hidden;
    margin: auto;
}

.footer-column {
    /*border: solid;*/
    width: 33%;
    overflow: hidden;
    float: left;
}

.bottom-footer {
    width: 100%;
    overflow: hidden;
    float:left;
    bottomm:0;
    /*height: 100px;*/
    padding: 3%;
    text-align: center;
}

.social {
    /*border: solid;*/
    background-color: royalblue;
    align:center;
    margin:0 auto;
}

.copyright {
    font-size: 0.8vw;
}

.login {
    float: right;
}

col-head {
    font-size: 1.5vw;
}

.col-link {
    font-size: 1vw;
}

/*p {
    font-size: 0.75vw;
}*/


.header-container {
    /*width: 100%;*/
    padding: 1%;
    /*margin: 10px auto;*/
    margin: auto;
    overflow: hidden;
    /*border: solid;*/
}

.header {
    width: 75%;
    padding: 1%;
    /*margin: 10px auto;*/
    margin: auto;
    overflow: hidden;
    /*border: solid;*/
}

.logo {
    /*border: solid;*/
    width: 80%;
    float: left;
    /*width: auto;
    height: auto;*/
    overflow: hidden;

}

.company-name {
    /*border:solid;
    overflow: hidden;

    padding: 1%;
    width: 50%;
    height:auto;*/
    padding: 1%;
    font-family: sans-serif;
    font-size: 3em;
    color: navy;
    text-align: left;
    /*border: solid;*/
    width: 74%;
    height: auto;
    float: left;
    overflow: hidden;

}

.nav-bar {
    width: 15%;
    /*height: auto;*/
    float: left;
    overflow: hidden;
}

.button {
    background-color: navy;
    color: white;
    text-align: center;
    font-size: 1vw;
    float: left;
    overflow: hidden;
    width: 98%; /*48*/
   /* height: 80%;*/
    cursor: pointer;
    border-radius: 15px;
    margin: 1%;
    height: 2.5vw;
}

.quick-book {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
    /*height: 4%;*/
    background-color: navy;
    color: white;
    padding: 1.5%;
    text-align: center;
}

.qb {
    font-size: 0.8vw;
}

.go {
    width:7vw;
    font-size: 0.75vw;
    height: 1.5vw;
}

.fancy {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 0.75vw;
}


/*Test layout*/
.testlogo {
    /*border: solid;*/
    width: 17%;
    float: left;
    overflow: hidden;
}

.testname {
    /*border: solid;*/
    width: 60%;
    float: left;
    overflow: hidden;
    text-align: center;
    font-family: sans-serif;
    font-size: 4vw;
}

.testnav {
    /*border: solid;*/
    width: 23%;
    float: left;
    overflow: hidden;
}

/*search bar 2*/
/*.container-4{
    overflow: hidden;
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
}

.container-4 input#search{
    width: 300px;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #fff;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.container-4 input#search::-webkit-input-placeholder {
    color: #65737e;
}

.container-4 input#search:-moz-placeholder { !* Firefox 18- *!
    color: #65737e;
}

.container-4 input#search::-moz-placeholder {  !* Firefox 19+ *!
    color: #65737e;
}

.container-4 input#search:-ms-input-placeholder {
    color: #65737e;
}

.container-4 button.icon{
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    border: none;
    background: #232833;
    height: 50px;
    width: 50px;
    color: #4f5b66;
    opacity: 0;
    font-size: 10pt;

    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}

.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
    outline: none;
    opacity: 1;
    margin-left: -50px;
}

.container-4:hover button.icon:hover{
    background: white;
}*/

/*search 3 - current*/
input {
    outline: none;
    /*max-height: inherit;*/
    /*height: 5%;*/
    height:1vw;

}
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

/*implement dynamic resizing*/
input[type=search] {
    background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 35%; /*55px;*/
    height: 1vw;

    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input[type=search]:focus {
    width: 85%; /*130px;*/
    background-color: #fff;
    border-color: navy;

    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}